
@import "vars";
@import "normalize";
@import "fonts";


.wrapper {
  position: relative;
}


.desk {
  position: fixed;
  top: 100px;
  left: 0;
  width: 300px;
  min-width: 20%;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 3px 5px 0 #ccc;

  input[name="drawer"] {
    display: none;
  }

  & > div > label {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    display: flex;
    min-height: 5em;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: center;
    line-height: 4.5em;
    padding: 1em;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px inset darken(complement(lightgray), 4%);
    border-radius: 5px;
    cursor: pointer;
  }

  label span {
    color: black;
    position: absolute;
    font-family: 'leagueGothicRegular', sans-serif;
    letter-spacing: 5px;
    font-size: 4.5em;
    display: block;
    min-width: 100%;
    min-height: 100%;
    transition: all .2s ease;
    &:hover {
      font-size: 3.2em;
      letter-spacing: 1px;
      &:first-letter {
        font-size: 1.2em;
      }
    }
  }

  & > div:last-of-type label {

    margin-bottom: 0;
  }
}




.drawer-content {
  overflow: hidden;
  max-height: 0;
  position: relative;
  padding: 0 1.5em;
  transition: all .2s ease;
}



input[name="drawer"]:checked ~ .drawer-content {
  height:auto;
  min-height:800px;
  width:800px;
  position: absolute;
  top:0;
  left: 100%;
  margin: 0 auto;
  transform: translate(400px,0);


}


input[name="drawer"]:checked ~ label {
  border-right: 10px inset black;
}

input[name="drawer"]:checked ~ label > span {
  font-size: 3.2em;
  letter-spacing: 10px;
  &:first-letter {
    font-size: 1.2em;
  }
}








.tabs {
  position: relative;
  margin: 0 auto;
  width: auto;
  height: 500px;


  input[type="radio"] {
    display: none;
  }

  & .tab {
    display: block;
    width:170px;
    height: 40px;
  }

  & label[for^="tab-0"] {
    text-transform: capitalize;
    margin-top:20px;
    line-height: 40px;
    text-align: center;
    display: block;
    border-bottom:1px solid lightgray;
    padding:5px;
    border-radius: 5px;
    width:100%;
    transition: all .2s ease-in;
    cursor: pointer;
    &:hover {
      background-color: complement(lightgray);
      box-shadow: 1px 2px 3px grey;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }

  & .tab:last-of-type {
    border-bottom: none;
  }

  .content {
    position: absolute;
    background: #fff;
    top:0;
    left:200px;
    width:500px;
    height:auto;
    padding-bottom: 10px;
    border:1px solid #ccc;
    border: none;

    & img {
      width:100%;
      height: 440px;
      border-radius:5px;
    }

    & .content-links {
      margin: 0 auto;
      width:300px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: top;

      & > a {
        font-size:18px;
        margin-top:5px;
        font-variant: small-caps;
        text-decoration: none;
        line-height: 40px;
        color:black;
        letter-spacing:1px;
        transition: all .2s ease-in;
        opacity:.8;
        &:hover {
          transform: scale(1.2);
          opacity:1;
        }

        & img {
          width:30px;
          height: 30px;
          float: left;
          padding: 5px;

        }
      }

    }
  }

  & input[type="radio"]:checked ~ label {
    background-color: complement(lightgray);
    box-shadow: 1px 2px 3px grey;
    z-index: 2;
  }

  & input[type="radio"]:checked ~ label ~ .content {
    z-index: 1;
  }
}














//      contact form


.contactForm {
  margin-top: 20px;
  width: 800px;
  box-shadow: 0 5px 10px 0 #ccc;

  fieldset {
    height: 400px;
    position: relative;
    border: none;
  }

  legend {
    font-size: 1.8em;
    font-family: 'leagueGothicRegular', sans-serif;
  }

  div {
    position: relative;
    display: inline-block;
    width: 300px;
    margin-left: 50px;
    &:last-of-type {
      display: block;
      margin-left: 0;
      position: absolute;
      bottom:80px;
      left: 130px;
    }
  }

  label {
    position: absolute;
    top: 20px;
    left:5px;
    width: 1px;
    transition: all .2s ease-in;
    z-index: -1;
}

  textarea ~ label {
    top: 5px;
    width:100px;
    padding: 5px;

  }


  textarea {
    width:500px;;
    height: 200px;
    border:1px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding:10px;
    background: transparent;
    &:focus ~ label {
      top: -23px;
      color:$blue;
    }
    &:valid ~ label {
      top:-23px;
      color:$blue;
    }

}

  input {
    margin-top: 20px;
   width: 250px;
    border:none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    &:focus ~ label {
      top:2px;
      left:0;
      font-variant: small-caps;
      letter-spacing: 1px;
      color: $blue;
    }
    &:valid ~ label {
      top:2px;
      left:0;
      font-variant: small-caps;
      letter-spacing: 1px;
      color: $blue;
    }
  }

  input[type="submit"] {
    background-color: lightgray;
    border-radius: 5px;
    position: absolute;
    font-variant: small-caps;
    font-size: 2em;
    width:200px;
    line-height: 20px;
    height: 40px;
    left: 280px;
    bottom:30px;
    &:hover {
      background-color: complement(gray);
    }
  }
}






    //about me section


.meImg {
  position: relative;
  height: auto;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

    img {
      width:200px;
      height: 200px;
      border-radius: 80%;
      opacity: .9;
      transition: all .2s ease;

      &:hover {
        opacity: 1;
        box-shadow: 5px 2px 5px lightgrey;
      }
}

      a:first-of-type {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      a:last-of-type {
        position: absolute;
        bottom:0;
        right: 0;
      }

      a img {
        width: 50px;
        height: 50px;
        transition: all .2s ease;
        opacity: 1;
        &:hover {
          box-shadow: 1px 2px lightgrey;
          transform: scale(1.1);
        }
      }
}


.about {

    p {
      padding-top:10px;
      width: 350px;
      margin: 0 auto;
      margin-top: 30px;
    }
  & p:first-of-type {
    text-transform: capitalize;
    width:290px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: .8em;
    padding-top: 5px;
    padding-left: 30px;
    span {
      position: relative;
      padding: 0 5px;
      font-weight: bolder;
      border-radius: 50%;
      font-size: 18px;
      top:-3px;
      display: inline-block;
    }
  }
}






    .bigName{
      position: fixed;
      z-index: -1;
      box-sizing: border-box;
      bottom:140px;
      display: flex;
      justify-content: center;
      align-items: center;
      left:0;
      height: 500px;
      padding: 0;
      margin-bottom:-210px;
      font-size: 34em;
      font-family: 'leagueGothicRegular', sans-serif;
      font-variant: small-caps;
      transition: all 1s ease-in;
      &:first-letter {
        font-size: 1.3em;
      }
      &:hover {
        color:white;
        text-shadow: 10px 3px 1px grey;
      }

      span {
        height: 300px;
      }
    }




